.footer{
    background-color: $grisOscuro;
    padding: 2.5rem 0;
    margin-bottom: 0;
    
    .contenedor-footer{
        padding-top: 2rem;
        display: flex;
        justify-content: center;
    }
    
    .copyright{
        color: $blanco;
        text-align: center;
    }

    .navegacion{
        visibility: visible;
        opacity: 1;
        height: auto;
        text-align: -webkit-center;
    }
}