.icono{
    text-align: center;
    img{
        height: 10rem;
        display: flex;
    }
}

@include tablet{
    .iconos-nosotros{
        @include grid(3,2rem);
    }
    img{
        //height: 10rem;
        display: flex;
    }
}

